<div class="bg-white shadow rounded-lg p-6 hover:shadow-lg transition">
  <h3 class="text-lg font-semibold mb-4">Objectifs d'Épargne</h3>
  <ul class="list-disc pl-5 space-y-2">
    <li>Vacances : 5000 MAD / 2000 MAD épargnés</li>
    <li>Achat ordinateur : 7000 MAD / 1500 MAD épargnés</li>
  </ul>
</div>
